/* 폰트 */

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

.all {
    font-family: 'Freesentation-6SemiBold', sans-serif;
}

@font-face {
    font-family: 'SUITE-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation-6SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation-8ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

/* a태그 */

a {
    all: unset;
}

.click {
    cursor: pointer;
}

a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;
}

/* section */

.main-box {
    height: 1080px;
    width: 100%;
    position: fixed;
    background-image: url(./asset/background.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-login-box {
    box-shadow: 0 0 10px #b1b1b1;
    background-color: #ffffff;
    display: flex;
    border-radius: 30px;
    width: 70%;
    height: 70%;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.back-text {
    margin: 10px -60px;
    color: #000000;
    font-size: 50px;
    align-items: center;
    display: flex;
    transition: 0.4s;
}

.back-text:hover {
  transform: translate(-8px, 0px);;
}

.main-login-text-box-left::before {
    content: '';
    width: 2px;
    height: 50%;
    background-color: #000000;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
}

.main-login-text-box-left {
    width: 400px;
    height: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.main-login-title {
    font-size: 30px;
}

.main-login-text {
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
}

.main-login-text-box-right {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.google-logo {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url(./asset/google_logo.png);
    transition: 0.5s;
}

.logo-text {
    align-items: center;
    display: flex;
    margin-top: 150px;
    font-size: 20px;
    font-family: 'Freesentation-6SemiBold', sans-serif;
}

.google-logo:hover {
    transform: translate(0px, -3px);
}

.github-logo {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url(./asset/github_logo.png);
    transition: 0.5s;
}   

.github-logo:hover {
    transform: translate(0px, -3px);
}